In [50]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [51]:
df = pd.read_csv('archive/TWO_CENTURIES_OF_UM_RACES.csv')

df.head()

/var/folders/sr/nz5_1_hn7yv_fnd0skdykh9m0000gn/T/ipykernel_36731/2397623457.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('archive/TWO_CENTURIES_OF_UM_RACES.csv')

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4

In [52]:
df.shape

(7461195, 13)

In [53]:
df.dtypes

Year of event                  int64
Event dates                   object
Event name                    object
Event distance/length         object
Event number of finishers      int64
Athlete performance           object
Athlete club                  object
Athlete country               object
Athlete year of birth        float64
Athlete gender                object
Athlete age category          object
Athlete average speed         object
Athlete ID                     int64
dtype: object

# clean up
- only want "USA" races,
- 50km

In [54]:
# this allows us see all the possible numbers starting with 50
filt = df['Event distance/length'].str.startswith('50', na=False)
df[filt]['Event distance/length'].value_counts()

Event distance/length
50km                1522609
50mi                 352181
50.3km                 3021
50.4km                 2189
50.1km                 1896
50.5km                 1781
50.7km                 1030
500km                   839
50h                     735
50.2km                  675
50.8km                  640
50.9km                  585
50.6km                  451
50.4mi                  297
50km                    263
50.0km                  204
50.5mi                  198
50.9mi                  165
50.74km                 164
50.6mi                  139
50miles                 130
50Km                    124
50.69km                  86
503km                    70
50Miles                  68
50.8mi                   61
50K                      52
50.9 mi                  51
50mi+                    34
50Mile                   32
50.7mi                   26
503km/7Etappen           25
500km/8Etappen           23
5036km/64Etappen         21
500km/7Etappen           16
50.3mi                   13
500km/10Etappen           8
500mi                     5
5000km                    4
505km                     1
5061km/68stages           1
504km/7Etappen            1
504km                     1
Name: count, dtype: int64

In [55]:
len(df[filt2])

1522609

In [56]:
pattern = r'^(50(\.0)?(km|mi|mile|miles|k|K))$'
# Apply the filter: Case-insensitive matching
filt = df['Event distance/length'].str.contains(pattern, case=False, regex=True, na=False)
df[filt]['Event distance/length'].unique(), len(df[filt])

/var/folders/sr/nz5_1_hn7yv_fnd0skdykh9m0000gn/T/ipykernel_36731/3938797249.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filt = df['Event distance/length'].str.contains(pattern, case=False, regex=True, na=False)

(array(['50km', '50mi', '50K', '50Km', '50.0km', '50Mile', '50Miles',
        '50miles'], dtype=object),
 1875400)

In [57]:
year_filt = df["Year of event"] == 2020
country_filt = df["Event name"].str.contains(r'\(USA\)')
f_df = df[filt & year_filt & country_filt]

In [58]:
# remove (USA) from Event name
f_df['Event name'] = f_df['Event name'].str.split('(').str.get(0)

/var/folders/sr/nz5_1_hn7yv_fnd0skdykh9m0000gn/T/ipykernel_36731/3329692599.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_df['Event name'] = f_df['Event name'].str.split('(').str.get(0)